<!DOCTYPE html>

<html>
    <head>
        <title>Kics File Checker</title>
        <script src="../index.js" defer></script>
    </head>
    <body>
        <h1>Upload a File</h1>
        <form id = "UploadForm" action="http://localhost:8000/upload/" method="post"  enctype="multipart/form-data"> <!-- action is used for the sending data to backend, -->
            <input type = "file" id="fileInput" name = "tgz_file" accept=".tgz, .tf" required>
            <p id = "ErrorP"></p>
            <input type="submit" id = "uploadButton" value="Upload">
        </form>
    </body>
</html>